*{
    margin: 0;
    padding: 0;
    border: none;
}
main{
    height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #333;
}

button{
    width: 80px;
    margin-top: 20px;
    background: rgb(201, 206, 206);
}